<ion-content padding class="loginMain">
  <div >
      <div style="width: 80%; margin:auto; margin-top: 40px;">
          <img [src]="imageLogo" style="width: 100%" />
      </div>
    <div class="InputsText" align="center">
      <div class="InputText">
        <input type="text" placeholder="הכנס שם מלא" [(ngModel)]="info.name" />
      </div>
      <div class="InputText mt10">
        <input type="tel" placeholder="הכנס מספר טלפון" [(ngModel)]="info.phone" />
      </div>
      <!--
      <div class="InputText mt10">
        <input type="text" placeholder="הכנס כתובת מדוייקת" [(ngModel)]="info.address" />
      </div>
      -->
      <div class="InputText mt10">
        <input type="email" placeholder="הכנס אימייל" [(ngModel)]="info.mail" />
      </div>
      <div class="InputText mt10">
        <input type="password" placeholder="הכנס סיסמה" [(ngModel)]="info.password" />
      </div>

      <div class="InputText mt10">
        <input type="password" placeholder="וידוי סיסמה" [(ngModel)]="info.repassword" />
      </div>

      <button class="loginButton" ion-button block (click)="doRegister()">התחל</button>
      <a class="register" (click)="GoToLogin()">יש לך כבר סיסמה ? התחבר למערכת </a>
    </div>
  </div>
</ion-content>

