page-company {

    .TitleText
    {
      text-align: right;
      font-size: 20px;
      padding-right:20px;
      width: 100%;
      direction: rtl;
    }

    .DescText
    {
      text-align: right;
      font-size:15px;
      padding: 20px;
      padding-left: 30px;
      padding-top: 0px;
      direction: rtl;
      width: 100%;
      float: right;
    }

  .highlightText {
    text-decoration: underline;
    font-weight: bold;
  }
  }


