
<ion-header>
  <ion-navbar no-border-top class="ToolBarClass">
    <button ion-button menuToggle end="">
      <ion-icon name="menu"></ion-icon>
    </button>



  </ion-navbar>
</ion-header>



<ion-content padding class="loginMain">
  <div >
    <div style="width: 80%; margin:auto; margin-top: 40px;">
      <img [src]="imageLogo" style="width: 100%" />
    </div>

    <div class="InputsText" align="center">
      <div class="InputText">
        <input type="email" placeholder="הכנס מייל תקין" [(ngModel)]="info.mail" />
      </div>


      <button class="loginButton"  ion-button block (click)="sendPassword()">התחל</button>

    </div>
  </div>
</ion-content>
