

<!-- Generated template for the WazeModalComponent component -->
    <div class="Content" align="center">
      <div class="buttons">
        <button class="bt" *ngFor="let row of customers_branches" ion-button (click)="onSubmit(row)">{{row.name}}</button><br>
      </div>
    </div>
