page-home {
  .mainRow
  {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid grey;
    margin-top: -10px;
  }

  .mainRowNoBorder
  {
    width: 100%;
    overflow: hidden;
  }

  .mainRowLeft
  {
    width: 50%;
    float: left;
    border-right: 1px solid grey;
  }

  .mainRowRight
  {
    width: 50%;
    float: right;
  }

  .mainRowDiv
  {
    width: 67%;
    margin-top: 15px;
  }

  .verticalLine1
  {
    position: absolute;
    left: 50%;
    margin-top: -4px;
    width: 1px;
    height: 60%;
    background-color: grey;
  }

}
