// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


body {

}

.mt20
{
  margin-top: 20px;
}

.ToolBarClass
{
  width:100%;
  overflow:hidden;
}

.ToolBarBackButton
{
  width:25%;
  float:left;
  margin-top: 8px;
}

.ToolBarTitle
{
  width:50%;
  float:left;
  text-align:center;
  margin-top:0px;
}

.headLogo {
  width:40%;
  margin: 0 auto;
  margin-left: 33%;
}

.headLogo1 {
  width:40%;
  margin: 0 auto;
  margin-left: 33%;
}

.content
{
  background-color: #f2f7ff;
}

.mainTd {
  border-right: 1px solid white;
}

.alertCss .alert-message
{
    text-align:center;
}

.alertCss
{
  text-align:center;
}


.alertCss .alert-head
{
  text-align:center;
}



ion-modal {
  position: absolute;
  top: 130px;
  left: 5%;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height:170px;
  border: 3px solid #f2f2f2;
}

modal-wrapper
{
  background-color: green;
  width: 400px;
}

.show-page {
  background-color: white;
}

ion-backdrop
{
  height: 100%;
}

ion-modal .modal-wrapper{
  //enter here cssssss

  //top: 20%;
  //width:60%;
  //left: 20%;
  //height:200px;
  //position:absolute;
  //background-color: white;
}

// http://ionicframework.com/docs/theming/

// main color #022850
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


//font-family: 'Secular One', sans-serif;
//font-family: 'Heebo', sans-serif;
//font-family: 'Alef', sans-serif;

@font-face{
  font-family: Alef;
  src: url('../assets/nfonts/alef.woff2') format('woff2');
}

@font-face{
  font-family: H200;
  src: url('../assets/nfonts/heebo200.woff2') format('woff2');
}

@font-face{
  font-family: H500;
  src: url('../assets/nfonts/heebo500.woff2') format('woff2');
}

@font-face{
  font-family: H900;
  src: url('../assets/nfonts/heebo900.woff2') format('woff2');
}

@font-face{
  font-family: secular;
  src: url('../assets/nfonts/secular.woff2') format('woff2');
}



ion-content
{
  background-image:url('../pattern/pat.png');
  repeat:repeat;
}

.item
{
  background-color:transparent;
}

.Pattern
{
  //background-color: red;

}


.mt10
{
  margin-top: 10px;
}

.mt15
{
  margin-top: 15px;
}

.mt20
{
  margin-top: 20px;
}


.HeaderTitle
{
  text-align: center;
  color:#022850 !important;
  font-family:H900;
  font-weight: bold;
  font-size: 17px !important;
  width: 70%;

  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}



ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.toolbar-title-md
{
  width: 500%;
  background-color: green1;
}

.HeaderTitle2
{
  text-align: center;
  color:#022850 !important;
  font-family:H900;
  font-weight: bold;
  font-size: 17px !important;
  width: 100%;


  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.HeaderSubTitle2
{
  font-size: 17px;
}

.HeaderTitle1
{
  text-align: right;
  font-size: 12px !important;
  font-family:Arial
}

.HeaderTitleText
{
  margin-top: 7px;
  font-size: 16px !important;
}

.HeaderTitleDesc
{
  font-size: 12px;
}

.alertcss
{
  direction: rtl;
  text-align: right;
}

.headerImage
{
  width: 50px;
  height: 50px;
  float: right;
  border-radius: 25px;
  margin-left:4px;
  padding: 3px;
}

.HeaderSubTitle
{
  font-size: 12px;
}

.menu-inner
{
  background-color: black !important;
}

.Header
{
  background-color: black !important;
}

.HeaderMenuButton
{
  font-size: 22px;
}

.HeaderLeftButton
{
  font-size: 22px;
}

.ToastClass
{
  direction:rtl;
  text-align:center;
}

.toast-container{
  background-color: #022850;
}

ion-modal {
  position: absolute;
  top: 130px;
  left: 5%;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 90%;
  height:470px;
  border: 3px solid #f2f2f2;
}


.thumb
{
  border-radius: 50%;
  margin-top: 1px;
}

.sideMenuIcon
{
  position: relative;
  top:4px;
  font-size: 23px !important;
}

.sideMenuText
{
  font-weight: bold;
  font-size: 14px;
  margin-right: 6px;
}