<!--<ion-menu [content]="content" side="right">-->
  <!--<ion-header>-->
    <!--<ion-toolbar>-->
      <!--<ion-title>Menu</ion-title>-->
    <!--</ion-toolbar>-->
  <!--</ion-header>-->

  <!--<ion-content>-->
    <!--<ion-list>-->
      <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
        <!--{{p.title}}-->
      <!--</button>-->
    <!--</ion-list>-->
  <!--</ion-content>-->

<!--</ion-menu>-->

<!--&lt;!&ndash; Disable swipe-to-go-back because it's poor UX to combine STGB with side menus &ndash;&gt;-->
<!--<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>-->


<ion-menu [content]="content" side="right">
    <ion-header>
        <ion-toolbar  style="background-color: #022850 !important;">
            <ion-title style="text-align: right;">תפריט</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" style="text-align: right; direction: rtl">
                <ion-icon class="sideMenuIcon" name="{{p.icon}}"></ion-icon>
                <span class="sideMenuText">{{p.title}}</span>
            </button>
        </ion-list>
        <div style="width:50%; margin:auto;" align="center">
            <img src="images/newlogo.png" style="width:100%;">
        </div>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" ></ion-nav>