page-suggest {
  .friendIcon
  {
    width: 30%;
    margin: 0 auto;
  }

  .friendName
  {
    width: 90%;
    margin: 0 auto;
  }

  .friendNameText
  {
    margin-top: 10px;
    width: 100%;
    border: 1px solid  #144e6e;;
    text-align: right;
    padding: 10px 15px;
    border-radius: 8px;
  }

  .suggestSendButton
  {
    background-color: #144e6e;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
  }
}
