<!-- Generated template for the FooterComponent component -->
<table>
    <tr>
        <td class="mainTd" (click)="openCompanyPage()">
            <img src="images/company.png" style="width: 100%;"/>
        </td>
        <td class="mainTd" (click)="shareViaWaze()">
            <img src="images/fi2.png" style="width: 100%;"/>
        </td>
        <td class="mainTd" (click)="shareViaMail()">
            <img src="images/fi3.png" style="width: 100%;"/>
        </td>
        <td (click)="shareViaPhone()">
            <img src="images/fi4.png" style="width: 100%;"/>
        </td>
    </tr>
</table>