page-my-account {
  .accountRow
  {
    overflow: hidden;
    width: 100%;
    padding: 10px;
  }

  .accountImage
  {
    float: right;
    width: 25%;
  }

  .accountTitle
  {
    float: right;
    width: 40%;
    text-align: right;
    direction: rtl;
    margin-top: -15px;
  }

  .accountTitleName
  {
    font-size: 20px;
    color: #144e6e;
  }

  .accountTitlePhone
  {
    font-size: 14px;
    color: #144e6e;
    margin-top: -15px;
  }

  .accountPrice
  {
    float: right;
    width: 35%;
    font-size: 15px;
    font-weight: bold;
    color: #144e6e;
    text-align: center;
    direction: rtl;
    margin-top: 10px;
  }

  .rowLine
  {
    height:1px;
    background-color:#144e6e;
  }

  .footerPrice
  {
    background-color:#144e6e;
    padding:20px 50px;
    text-align: center;
    width: 70%;
    align: auto 0;
    border-radius: 50px;
    direction: rtl;
    margin-left: 15%;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
  }
}
