<ion-header>
    <ion-navbar no-border-top class="ToolBarClass">
        <button ion-button menuToggle end="">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <div style="width: 100%">
                <img [src]="imageLogo" class="headLogo1"/>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="Video">
        <iframe width="100%" height="230" [src]="faqvideo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div *ngFor="let row of faqArray">
        <h1 class="TitleText" [innerHTML]="row.question"></h1>
        <h3 class="DescText" [innerHTML]="row.answer"></h3>
    </div>
</ion-content>
<ion-footer style="padding: 0px; margin: 0px; background-color: #144e6e">
    <footer></footer>
</ion-footer>